<div class="col-mt-8">
  <div class="text-center">
    <form action="answer" data-turbo="false">
      <input class="bg-info" type="text" name="ask" placeholder= "ask a question">
      <input type="submit" value="Ask!" class="btn btn-primary btn-lg">
    </form>
  </div>
</div>
